<div ng-controller="pxSimplelineChartCtrl as ctrl">
    <script type="text/ng-template" id="simpleLineChart.html">
    
        <link ng-href="{{DECISYON.template.mainLibraryPath}}/vendor/px-simple-line-chart/px-simple-line-chart.html" rel="import">
        
        <px-simple-line-chart     id              ="{{ctrl.refObjId}}"
                                  min             ="{{ctrl.min}}"  
                                  max             ="{{ctrl.max}}"  
                                  columns         ="{{ctrl.columns}}"  
                                  rows            ="{{ctrl.rows}}"  
                                  width           ="auto"
                                  height          ="auto"
                                  line-data       ="{{ctrl.lineData}}" 
                                  threshold       ="{{ctrl.threshold}}" 
                                  threshold-label ="{{ctrl.thresholdLabel}}" 
                                  min-label       ="{{ctrl.minLabel}}" 
                                  max-label       ="{{ctrl.maxLabel}}">
        </px-simple-line-chart>

    </script>

    <script type="text/ng-template" id="error.html">
        <h3>{{ctrl.errorMsg}}</h3>
    </script>
    
    <div ng-style="{'width': ctrl.width, 'height' : ctrl.height}" ng-include src="ctrl.currentTpl"></div>
    
</div>